<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    <section class="sheet-body">
        <section>
            <div class="attributes flexrow">
                {{#each system.attributes as |attribute key|}}
                <div class="attribute flexcol flex-group-center">
                    <div id="attribute-img" class="attribute flexrow">
                        <img src="http://placekitten.com/100/100">
                    </div>
                    <div id="attribute-name" class="attribute flexrow">
                        <label for="system.attributes.{{key}}.value"
                               class="resource-label flexlarge align-left" data-roll="d20"
                               data-label="{{attribute.label}}">{{attribute.label}}</label>
                    </div>
                    <div id="attribute-value" class="attribute flexrow">
                        <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}"
                               data-dtype="Number"/>
                        <p class="attribute" id="attribute-bonus">{{attribute.bonus}}</p>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="resources flex-group-center">
                <div class="sp flexcol">
                    <label for="system.resources.sp.value" class="resource-label">{{localize 'OUTBREAK.SurvivalPoints'}}</label>
                    <input type="text" name="system.sp.value" value="{{system.resources.sp.value}}" data-dtype="Number"/>
                </div>
                <div class="gl flexcol">
                    <label for="system.resources.gl.value" class="resource-label">{{localize 'OUTBREAK.GestaltLevel'}}</label>
                    <input type="text" name="system.gl.value" value="{{system.resources.gl.value}}" data-dtype="Number"/>
                </div>
                <div class="cp flexcol">
                    <label for="system.resources.cp.value" class="resource-label">{{localize
                        'OUTBREAK.ConsumptionPoints'}}</label>
                    <input type="text" name="system.cp.value" value="{{system.resources.cp.value}}" data-dtype="Number"/>
                </div>
            </div>
        </section>

        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="skills">{{localize 'OUTBREAK.Skills.Label'}}</a>
            <a class="item" data-tab="description">{{localize 'OUTBREAK.Description'}}</a>
        </nav>

        <div class="tab" data-tab="skills" data-group="primary">
                {{> "systems/outbreak-undead/templates/actor/parts/skills/skills.html"}}
        </div>
    </section>
</form>

