.rollable:hover, .rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.outbreak .resources {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.outbreak .resources input {
    width: 50px;
}

.outbreak .sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.outbreak .flexcol {
    flex: 1;
    display: inline-block;
    justify-content: center;
}

.outbreak #attribute-img {
    max-width: 50px;
    margin: auto;
}

.outbreak .attributes {
    text-align: center;
    justify-content: space-evenly;
}

.outbreak #attribute-value {
    max-width: 50px;
    margin: auto auto 1em;
}

.outbreak #attribute-bonus {
    margin: auto;
}

.outbreak .resource-label {
    font-weight: bold;
}

.outbreak .nested-sheet-tabs {
    margin: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #b5b3a4;
}

.skill > .flexcol {
    display: flex;
}

