.rollable:hover, .rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.outbreak .sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.outbreak .flexcol {
    flex: 0;
    display: inline-block;
    justify-content: center;
}

.outbreak #attribute-img {
    max-width: 50px;
    margin: auto;
}

.outbreak .attributes {
    text-align: center;
    justify-content: space-evenly;
}

.outbreak #attribute-value {
    max-width: 50px;
    margin: auto;
}

.outbreak .resource-label {
    font-weight: bold;
}
